<head>
    <title><%= settings.name %></title>
    <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <% if (req.query.loggedin) { %>
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm ml-24 leading-6 text-gray-900">
            You're on the admin area!</strong>
          </p>
        </div>
      </div>
    <% } %>
<div>
<!-- The Modal -->
<% if (req.query.news) { %>
<div id="myModal" class="modal">
        </div>
    </div>
</div>
<% } %>
    <%- include('components/admin_navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">

<div id="wrapper">

        <div class="clearfix"></div>
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row mt-3">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">This feature isn't working yet!</div>
                    <hr>
                    &nbsp;
                    <div class="form-group">
                      <label for="input-6">Name:</label>
                      <input id="name" class="transition focus:border-gray-400 focus:ring-gray-400 justify-center border border-gray-300 form-control rounded-md" placeholder="Host Name"
                        value="<%= settings.name %>">
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <label for="input-7">Logo URL:</label>
                      <input id="logo" class="transition focus:border-gray-400 focus:ring-gray-400 justify-center border border-gray-300 form-control rounded-md" placeholder="Logo URL"
                        value="<%= settings.logo.url %>">
                    </div>
                    &nbsp;
                    <div class="form-group">
                      <button role="button" onclick="updateBrand()"
                        class="transition delay-100 group relative  justify-center rounded-md border border-transparent bg-black-400 py-2 px-4 text-sm font-medium text-white hover:bg-gray-500 focus:outline-none">Update</button>
                    </div>
                  </div>
                </div>
 



                <style>
                  .plan-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                  }

                  .plan-item {
                    border: 0 solid #e5eaef;
                    background-color: rgba(255, 255, 255, .2);
                    border-radius: 15px;
                    padding: 10px;
                    min-width: 200px;
                    margin: 5px;
                    cursor: pointer;
                  }

                  .plan-item:hover {
                    background-color: #333333;
                  }

                  .plan-item.selected {
                    background-color: rgba(0, 0, 0, .2);
                    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .45)
                  }

                  .plan-name {
                    color: white;
                    font-weight: bold;
                  }

                  .plan-ram {
                    color: white;
                    margin-left: 5px;
                  }

                  @media (max-width: 768px) {
                    .plan-list {
                      justify-content: center;
                    }
                  }
                </style>



                <script>
                  function updateBrand() {
                    const nameValue = document.getElementById('name');
                    const logoValue = document.getElementById('logo').value;

                    const data = {
                      name: nameValue,
                      logo: logoValue,
                    };

                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '/update-brand');
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify(data));
                    location.reload();
                  }
                </script>
                <!-- End Handlers -->
                <!-- Include Bootstrap 5 JS -->
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>
                <!-- Include Bootstrap 5 CSS -->
                <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
              </div>
            </div>
</body>

</html>
</body>
<!--start overlay-->
<div class="overlay toggle-menu"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
<!-- Bootstrap core JavaScript-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- simplebar js -->
<script src="/assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="/assets/js/sidebar-menu.js"></script>
<!-- Custom scripts -->
<script src="/assets/js/app-script.js"></script>
<footer>
</footer>