<head>
    <title><%= settings.name %></title>
    <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <% if (req.query.loggedin) { %>
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm ml-24 leading-6 text-gray-900">
            You're on the admin area!</strong>
          </p>
        </div>
      </div>
    <% } %>
<div>
<!-- The Modal -->
<% if (req.query.news) { %>
<div id="myModal" class="modal">
        </div>
    </div>
</div>
<% } %>
    <%- include('components/admin_navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">

    <!-- Main Content Wrapper -->
    <main class="main-content w-full pb-8">
      <% if (req.query.err) { %>
        <% if (req.query.err !== "none") { %>
          <div style="border-radius: 15px; background-color: red; color: white; height: 50px; text-align: center; font-size: large;" style="border-radius: 15px;" class="alert">
            <% if (req.query.err == "MISSINGID") { %>
                You have not provided the Discord user ID.
      <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
    One of the characters you entered in coupon creation was invalid, please try again.
      <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
    One of the characters you entered in coupon revoke was invalid, please try again.
      <% } else if (req.query.err == "CREATECOUPONEMPTY") { %>
    While creating your coupon you did not specify to give any resources or coins.
      <% } else if (req.query.err == "CREATECOUPONLESSTHANONE") { %>
    While creating your coupon you tried to give less then one in RAM, DISK, CPU and/or coins.
            <% } else if (req.query.err == "INVALIDID") { %>
                You have provided a Discord user ID that does not exist, or has not signed up on the dashboard.
            <% } else if (req.query.err == "NOIP") { %>
              IP NOT FOUND.
          <% } else if (req.query.err == "FAILEDPURGE") { %>
            The server purge was unsuccessful.
        <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                You have not provided either ram, disk, cpu, and/or servers.
            <% } else if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                The RAM, disk, CPU and servers number cannot be less than 0 and must be above 999999999999999.
            <% } else { %>
                Stop admin abusing.
            <% } %>
          </div>
        <% } else if (req.query.err == "none") { %>
          <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
            Success! Action completed
          </div>
        <% } %> 
      <% } %>
      <% if (req.query.err == "IPFOUND") { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          Success! IP Found - <%= req.query.ip %>
        </div>
      <% } %>
      <% if (req.query.err == "PURGEDSUCCESSFULLY") { %>
        <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
          Success! All servers have been purged with the keyword - <%= req.query.keyword %>
        </div>
      <% } %>
      <% if (req.query.code) { %>
    <div class="alert" style="background-color: #007fcc; border-radius: 15px;">
    Success! You have created a coupon code with the name of: <%= req.query.code %>
    </div>
      <% } %>
      <div id="container" class="mt-4 px-[var(--margin-x)] grid grid-cols-1 lg:grid-cols-4 gap-4">
        <h2 style="font-size: 50px; color: white;">Miscellaneous</h2>
        <p class="text-gray">Miscellaneous Admin Section.</p>
         <div class="row">
          <% if (settings.api.client.misc.purger.true) { %>

          <div class="col-md-6 grid-margin stretch-card">
            <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
              <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                <br>
                 <h4 style="font-size: 30px; color: white;" class="p-4 card-title">Purger</h4>
                                 <form>
                                  &nbsp;&nbsp;&nbsp;&nbsp;<label for="keyword">Keyword:</label>&nbsp;
                                     <input style="border: thin solid #6B7280; border-radius: 15px; padding: 8px;" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" name="keyword" placeholder="[ACTIVE]"><br><br>
                                     &nbsp;&nbsp;<button onclick="purge()" class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" type="submit">Purge</button>
                                 </form>
                                 <script>
                                  async function purge() {
                                    let keyword = encodeURIComponent(document.getElementById("keyword").value);
                                    try {
                                   const response = await fetch('/purge?keyword=' + keyword)
                                   if (response.ok) {
                                    Swal.fire({
                                   title: 'Success',
                                   text: 'Servers Purged successfully.',
                                   icon: 'success',
                                   html: `All servers with the Keyword were successfully purged.`
                                 });
                                   } else {
                                     Swal.fire({
                                       title: 'Error',
                                       text: 'Error Purging Servers. Please try again later.',
                                       icon: 'error'
                                     });
                                   }
                                } catch (error) {
                                 console.error('Error Purging Servers:', error);
                                 Swal.fire({
                                   title: 'Error',
                                   text: 'Error Purging Servers. Please try again later.',
                                   icon: 'error'
                                 });
                               }
                              }
                               </script>
                                 <br>
               </div>
             </div>
           </div>
           </div>
           <% } %>
           <% if (settings.api.client.misc.getip.true) { %>
           <div class="col-md-6 grid-margin stretch-card">
            <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
              <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
                <br>
                 <h4 style="font-size: 30px; color: white;" class="p-4 card-title">Get IP</h4>
                                 <form action="/getip">
                                  &nbsp;&nbsp;&nbsp;&nbsp;<label for="id">Discord ID:</label>
                                     <input style="border: thin solid #6B7280; border-radius: 15px; padding: 8px;" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" name="id" placeholder="0000000000000000"><br><br><br><br>
                                     &nbsp;&nbsp;<button class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" type="submit">Get IP</button>
                                 </form>
                                 <br>
             </div>
           </div>
         </div>
         <% } %>
          <div class="col-md-6 grid-margin stretch-card">
           <div class="card flex flex-col bg-zinc-800 rounded-xl w-full">
             <div class="card-body flex flex-col bg-zinc-800 rounded-xl w-full">
              <br>
                <h4 style="font-size: 30px; color: white;" class="card-title">&nbsp;&nbsp;Remove Account</h4>
                                <form action="/remove_account">
                                 &nbsp;&nbsp;&nbsp;&nbsp;<label for="id">Discord ID:</label>
                                    <input style="border: thin solid #6B7280; border-radius: 15px; padding: 8px;" class="rounded-xl bg-zinc-800/40 px-2.5 py-2 form-control" name="id" placeholder="0000000000000000"><br><br><br><br>
                                    &nbsp;&nbsp;<button class="rounded-xl bg-zinc-900 px-2.5 py-2 btn btn-primary btn-lg" type="submit">Remove Account</button>
                                </form>
                                <br>
            </div>
          </div>
        </div>
       </div>
 </div>
      </main>
  </div>
  <div id="x-teleport-target"></div>
  <script>
    window.addEventListener("DOMContentLoaded", () => Alpine.start());
  </script>    

    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>